body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1c1c1e;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
}

.calculator {
    width: 100vw; /* Full width of the viewport */
    max-width: 460px;
    margin: auto;
    background-color: #121214;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#result {
    width: 100%;
    height: 20%;
    padding: 15px;
    font-size: 28px;
    color: #fff;
    background-color: #2c2c2e;
    border: none;
    text-align: left;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 15px;
    grid-row-gap: 20px;
    padding: 15px;
}

button {
    width: 100%;
    padding: 18px;
    font-size: 20px;
    color: #fff;
    background-color: #414146;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px; /* 5px for both horizontal and vertical gaps */
}

button:hover {
    background-color: #515156;
}

@media screen and (max-width: 600px) {
    .calculator {
        width: 90%;
        max-width: none;
    }

    button {
        padding: 15px;
        font-size: 18px;
        margin: 4px;
    }
}
